.box {
    width: 100px;
    height: 100px;
    background-color: aqua;
    border: 2px solid black;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    margin: 0 auto;

    cursor: pointer;
}
