* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.centre-container {
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-elements {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    width: 210px;
}

.search-input {
    position: relative;
}

.search-input i {
    position: absolute;
    left: 18px;
    top: 50%;
    transform: translateY(-50%);
    color: #777;
}

input {
    width: 600px;
    font-size: 1em;
    padding: 12px 1em 12px 45px;
    border: none;
    border-radius: 30px;
    outline: none;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
}

.btns {
    display: flex;
    gap: 1em;
    margin-top: 1.5em;
}

button {
    border: none;
    padding: 12px 25px;
}
