#container {
    width: 400px;
    height: 400px;
    border: 3px solid rgb(32, 180, 229);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;
}

.letter {
    width: 100px;
    height: 100px;
    background-color: gray;
    font-size: 50px;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
