* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 2em;
}

.moving-div {
    height: 200px;
    width: 200px;

    color: white;
    background-color: orange;

    border: 2px solid black;

    text-align: center;
    align-content: center;

    border-radius: 50%;
    animation: move-left-right 4s ease-in-out infinite alternate;
}

@keyframes move-left-right {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(100vw - 4em - 200px));
    }
}
