* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

/* ------------------------------------------------------------ */

header {
    width: 100vw;
    position: fixed;
    top: 0;
}

/* ------------------------------------------------------------ */

#nav1 {
    height: 50px;
    background-color: white;
}

/* ------------------------------------------------------------ */

#nav2 {
    height: 40px; /* Initial was 30px, You may have to keep it 45px */
    width: 100vw;
    background-color: rgb(40, 42, 53);

    display: flex;
    flex-wrap: row;
    flex-wrap: nowrap;

    text-align: center;
    align-content: center;

    overflow-x: scroll;
}

#nav2 .tutorial-link {
    color: white;
    font-size: 0.75em;
    font-weight: normal;
    padding: 5px 15px;
    text-decoration: none;
}

#nav2 .tutorial-link:hover {
    background-color: black;
}

.hide {
    height: 1em;
    width: 100vw;
    background-color: white;
    position: relative;
    top: 76px;
}

/* ------------------------------------------------------------ */

.side-bar {
    height: 100vh;
    /* width: 15%; */
    width: 20%;
    position: fixed;
    top: 75px;
    left: 0;
    background-color: rgb(231, 233, 235);
    overflow-y: scroll;
    z-index: 1;
}

/* ------------------------------------------------------------ */

/* .side-bar {
    display: flex;
    flex-direction: column;
}

.side-bar h2 {
    font-size: 26px;
    font-weight: normal;
    padding: 10px;
} */

.side-bar {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.side-bar h2 {
    font-size: 1.25em;
    font-weight: normal;
    padding: 12px 0 8px 16px;
}

.side-bar a {
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.side-bar > a {
    padding: 8px 16px;
}

/* Dropdown item container */
.dropdown-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    cursor: pointer;
}

/* Icon */
.dropdown-item i {
    font-size: 10px;
    opacity: 0.25;
    transition: transform 1s ease;
}

/* Hover effect */
.side-bar a:hover,
.dropdown-item:hover {
    background-color: rgb(204, 204, 204);
}

/* Optional: rotate icon on active */
.dropdown-item.active i {
    transform: rotate(180deg);
}
